{% extends 'base.html.twig' %}

{% block title %}Jérémy Sam{% endblock %}

{% block body %}
  <div class="container mt-4">
    <div class="jumbotron">
      <h1 class="display-4">Bienvenue!</h1>
      <p class="lead">Test</p>
      <hr class="my-4">
      <p>Accédez au test.</p>
      <p class="lead">
        <a class="btn btn-primary btn-lg" href="/user" role="button">Par ici</a>
      </p>
    </div>
  </div>
{% endblock %}
